*{margin:0;padding:0;box-sizing: border-box;list-style:none;font-family:Verdana, Geneva, Tahoma, sans-serif}
body{
    display:flex;
    background:red;
}
nav{
    background:green;
    height:100%;
    width:10vw;
    font-size:.75rem;
    font-weight:bold;
    padding-top:2vh;
    padding-inline:2vw;
    }
nav li{
    padding-block:2vh;
}
#content{
    background:red;
    height:100%;
    width:90vw;
    margin-inline:5vw;
    padding:2vh 2vw;}
#content p{
    max-width:68ch;
}
#content h2{
    padding-block:2vh;
    text-decoration:underline;
}
#content h3{
    padding-block:2vh;
}
#planning ol li{
    list-style:decimal;
    margin-left:1vw;
}